<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- debug settings -->
    <add key="inputFileLocation" value="c:\input.txt" />
    <add key="outputFileLocation" value="c:\output.txt" />
  </appSettings>
  <castle>
    <!--<?define DEBUG?> -->
    <components>
      <component id="ProcessCommandLineArgs"
                 type="Exercise.ProcessCommandLineArgs, Exercise">
      </component>
      <component id="DependencySorter"
                 service="Exercise.ProcessHandlersInterfaces.IDependencySorter, Exercise"
                 type="Exercise.ProcessHandlers.DependencySorter, Exercise">
        <parameters>
          <?if DEBUG?>
          <algorithm>${BenchmarkingAlgorithmDecorator}</algorithm>
          <?else?>
          <algorithm>${AlgorithmNew}</algorithm>
          <?end?>
        </parameters>
      </component>
      <component id="ReadInput"
                 service="Exercise.ProcessHandlersInterfaces.IReadInput, Exercise"
                 type="Exercise.ProcessHandlers.ReadInput, Exercise">
      </component>
      <component id="WriteOutput"
                 service="Exercise.ProcessHandlersInterfaces.IWriteOutput, Exercise"
                 type="Exercise.ProcessHandlers.WriteOutput, Exercise">
      </component>
      <component id="Algorithm"
                 service="Exercise.ProcessHandlersInterfaces.IAlgorithm, Exercise"
                 type="Exercise.ProcessHandlers.Algorithm, Exercise">
      </component>
      <component id="AlgorithmNew"
           service="Exercise.ProcessHandlersInterfaces.IAlgorithm, Exercise"
           type="Exercise.ProcessHandlers.AlgorithmNew, Exercise">
      </component>
      <component id="BenchmarkingAlgorithmDecorator"
           service="Exercise.ProcessHandlersInterfaces.IAlgorithm, Exercise"
           type="Exercise.ProcessHandlers.BenchmarkingAlgorithmDecorator, Exercise">
        <parameters>
          <inner>${Algorithm}</inner>
        </parameters>
      </component>
    </components>
  </castle>
</configuration>